@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(images/pattern-background-desktop.svg) no-repeat;
  background-size: contain;
  background-color: #e0e8ff;
}

a {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 700px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 2px 29px 31px 3px rgba(198, 207, 247, 1);
  -moz-box-shadow: 2px 29px 31px 3px rgba(198, 207, 247, 1);
  box-shadow: 2px 29px 31px 3px rgba(198, 207, 247, 1);
}

.hero img {
  border-radius: 20px 20px 0px 0px;
}

.hero h2 {
  margin: 40px 0 20px 0;
  font-weight: 800;
  color: #1f2f56;
}

.hero p {
  margin: 0 45px;
  line-height: 1.6;
  color: #7280a7;
}

.annual-plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f5f7ff;
  width: 80%;
  border-radius: 20px;
  padding: 10px 20px;
}

.annual-plan .left-side a {
  color: #3829e0;
  font-weight: bold;
  transition: 0.5s;
}

.annual-plan .left-side a:hover {
  text-decoration: none;
  color: #918ade;
}

.annual-plan .right-side span p {
  font-weight: 900;
  color: #1f2f56;
  margin-bottom: 0;
}

.annual-plan .right-side p {
  color: #7280a7;
  margin-top: 10px;
}

.annual-plan .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.annual-plan .right-side img {
  margin-right: 20px;
}

.proceed {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #3829e0;
  padding: 15px;
  margin-top: 15px;
  width: 80%;
  border-radius: 10px;
  -webkit-box-shadow: -1px 10px 22px 5px rgba(214, 207, 255, 1);
  -moz-box-shadow: -1px 10px 22px 5px rgba(214, 207, 255, 1);
  box-shadow: -1px 10px 22px 5px rgba(214, 207, 255, 1);
  transition: 0.5s;
}

.proceed:hover {
  background-color: #918ade;
}

.cancel {
  text-decoration: none;
  font-weight: bold;
  color: #7280a7;
  width: 80%;
  padding: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
}

.cancel:hover {
  color: #000;
}

@media (max-width: 500px) {
  .container {
    width: 80%;
    height: fit-content;
  }
  .hero h2 {
    font-size: 25px;
  }
  .hero p {
    margin-bottom: 20px;
  }

  .proceed {
    margin-top: 20px;
  }
  .cancel {
    margin-bottom: 20px;
  }
}
